body{background-color: blue; }
	a {
		text-decoration: none;
		color: 3333ff;
	}
	a#links{
		text-decoration: none;
		color: eee;
	}
	#text {
		padding: 15px;
		height: 1500px;
margin: 0;
background-color: 8888ff;
color: eeeeee;}
img {
	
	width: 49%;
	}
#top{
background-color: aqua;
text-align: center;
marigin-top: 0;
color:333333;
padding-top: 50px;
height: 170px;
margin-bottom: 0;
font-size: 72px;}
#menu{
top: 0;
margin: 0;

position: fixed;

width: 98.999%;
background-color: 7777ff;
height: 45px;
color: 222222;
word-spacing: 100px;
text-align: center;
font-size: 30px;}



