<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simon Says</title>
    {%load static%}
    <link rel="stylesheet" href='{% static  "style.css" %}'>
</head>
<body>
    <div id="startingScreen">
        <button id="startingButton">Start Game</button>
    </div>
    <div id="title">Simon Says</div>
    <div id="game">
        <div id='green' class="block"></div>
        <div id='red' class="block"></div>
        <div id='yellow' class="block"></div>
        <div id='blue' class="block"></div>
    </div>
    <div id="counter">
        <div id="score">Your Score: <span id="scorenum"></span></div>
        <div id="highscore">Highscore: {{player.highscore}}</div>
    </div>
    <script src='{% static  "script.js"%}'></script>
    <script>
        var score = document.getElementById("scorenum").value
        console.log(value)
        if(score > "{{player.highscore}}"){
            '{{player.highscore}}' = score
            {% player.save() %}
            }

    </script>
</body>
</html>
