{%extends "base.html"%}

{%block title%}Ankieta{%endblock%}
{%block content%}

{%with messages = get_flashed_messages()%}
	{%if messages%}
		{%for msg in messages%}
			<h1><center>{{msg}}</center></h1>
		{%endfor%}
	{%endif%}
{%endwith%}

{%endblock%}
{% block links%}
<a class="nav-link" href="/">Home</a>
<a class="nav-link" href="aboutme">About me</a>
<a class="nav-link"	href="contact">Contact</a>
<a class="nav-link" href="login">Login</a>
<a class="nav-link" href="register">Register</a>
<a class='nav-link' href='ankieta'>Ankieta</a>
{%endblock%}