{%extends "base.html"%}
{%block title%}Login{% endblock%}
{%block content%}
{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for msg in messages%}
				<p style="
					color:white;
				">{{msg}}</p>
			{%endfor%}

		{% endif %}
	{% endwith %}
<h1 style="text-align: center;">Login</h1>
<form class="loginForm" method="post" action="#" >
	<label>Username: </label>
 	<input class="input" type="text" required="true" name="login">
 	<br>
 	<label>Password: </label>
 	<input type="password" name="pass" required="true">
 	<br>
  	<button type="submit" class="button">Submit</button>
</form>
	
{%endblock%}
{% block links%}
<a class="nav-link" href="/">Home</a>
<a class="nav-link" href="aboutme">About me</a>
<a class="nav-link" href="contact">Contact</a>
<a class="nav-link active" aria-current="page" href="#">Login</a>
<a class="nav-link" href="register">Register</a>
{%endblock%}