{%extends "base.html"%}
{%block title%}Login{% endblock%}
{%block content%}

<form id="loginForm" method="post" action="#" id>
	<label>Username: </label>
 	<input class="input" type="text" required="true" name="login">
 	<br>
 	<label>Password: </label>
 	<input type="password" name="pass" required="true">
 	<br>
  	<button type="submit" class="button">Submit</button>
</form>
{%endblock%}
{% block links%}
<a class="nav-link" href="/">Home</a>
<a class="nav-link" href="aboutme">About me</a>
<a class="nav-link" href="contact">Contact</a>
<a class="nav-link active" aria-current="page" href="#">Login</a>
{%endblock%}